.sub-wrapper{
    margin-top: 35vh;
    padding: 2vh 5% 2vh 5%;
}

.sub-wrapper > h1 {
    font-size: 2.5rem;
    color: #2C3D55;
}

.sub-wrapper p {
    line-height: 200%;
}

.sub-wrapper p>em {
    color: #9C3848;
}

.sub-wrapper p>b {
    color: #2C3D55;
}

.links-wrapper{
    height: 15vh;
    margin: 5vh 10vh 0 0;
    float: left;
}

.links-wrapper img{
    position: relative;
    height: 100%;
}

.member {
    float: left;
    height: 30vh;
    width: 70vh;
    margin: 5vh 10vh 5vh 0;
}

.member-img{
    position: relative;
    width: 30%;
    height: 100%;
    float: left;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 3%;
}

.member-img img{
    position: relative;
    height: 100%;
}

.member-info{
    height: 100%;
    overflow: hidden;
}
.member-info h3 {
    margin: 0 0 1vh 0;
    color: #7FB7BE;
}
.member-info h4 {
    font-size: 1.2rem;
    margin: 1vh 0 1vh 0;
}

.event-wrapper {
    margin: 3vh 0vh 3vh 0vh;
    padding: 5%;
    border: 1px #2C3D55 solid;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
.event-info-wrapper {
    position: relative;
    width: 55%;
    margin-right: 5%;
}
.event-img-wrapper {
    float: right;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.event-img-wrapper img {
    max-width: 100%;
    max-height: 100%;
}

.event-date {
    margin: 0;
    color: #7FB7BE;
    font-size: 1rem;
}

.event-title {
    margin: 0;
    color: #2C3D55;
    font-size: 1.5rem;
}


.event-wrapper p {
    font-size: .8rem;
    line-height: 150%;
}

